* {
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: #6d3d32;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    background: #f0ede5;
    color: #6d3d32;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 120px 0;
    line-height: 1.2;
    min-height: 100%;
    position: relative;
}

.logo {
    background: url(../../assets/logo.png) center no-repeat;
    display: inline-block;
    width: 74px;
    height: 75px;
    background-size: cover;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

ul {
    padding: 0;
    margin: 0;
}

cart-component {
    display: block;
}