.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;

    & > .one {
        grid-column: 1 / 1;
        grid-row: 1;
    }

    & > .two {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    & > .three {
        grid-column: 3 / 8;
        grid-row: 1;
    }

    & > .four {
        grid-column: 10 / 11;
        grid-row: 1;
    }
}